# Ignore virtual environments
venv/
env/

# Python cache files | files
__pycache__/
*.pyc
*.pyo
lib/
lib64
bin/
include/
pyvenv.cfg

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Excel/output files
*.xlsx
*.csv

# Log files
*.log
*.tmp